/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply bg-white text-gray-900;
  }
  :root {


    --radius: 0.5rem
  }
}

.prose {
  @apply max-w-none;
}

.prose img {
  @apply rounded-xl;
}

.prose a {
  @apply text-purple-800 hover:text-purple-900;
}

.prose h2 {
  @apply text-2xl font-bold mt-8 mb-4;
}

.prose h3 {
  @apply text-xl font-bold mt-6 mb-3;
}

.prose p {
  @apply mb-4;
}

.prose ul {
  @apply list-disc list-inside mb-4;
}

.prose ol {
  @apply list-decimal list-inside mb-4;
}

.embla {
  --slide-spacing: 1rem;
  --slide-size: 25%;
}

.embla__viewport {
  transition: height 0.2s;
}

/* Adjust this duration to control the speed of slide transitions */
.embla__container {
  transition: transform 0.5s ease-in-out;
}